/fisher_trans
/asr_output_with_times
/acoustic_scores
/fisher_metadata

/data_for_streamlit.txt
/fisher_for_exploration.json
/info.txt
/info_original.txt
/fisher_selected_final_hyp.txt
/fisher_selected_final_ref.txt
